//  LOAD MORE ARTICLES BUTTON 

.row-two__load-button-container {
  margin: 76px 0px 94px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  hr {
    width: 401px;
    margin: 0;
    border: none;
    border-top: 1px solid rgba(216, 216, 216, 100%);
  }

  .row-two__load-button {
    width: 249px;
    height: 48px;
    background: #536dfe;
    color: white;
    font: 14px "RVMontserrat", sans-serif;
  }
}

.footer {
  background-color: #3949ab;
  height: 367px;
  padding: 75px 142px 0px 144px;

  &__inner {
    display: flex;
    height: 260px;
    // LEFT NAVIGATION IN FOOTER
    &-nav {
      margin-right: auto;
      ul {
        @include opacityLinks();
      }
      
      .footer__list-link {
        text-decoration: none;
        color: white;
        font: 16px/33px "RVMontserrat", sans-serif;
        letter-spacing: 1.31px;
        display: inline-block;

        @include slidingUnderline(); //UNDERLINE EFFECT ON NAV LINKS
      }
    }
  }
  &__m-logo {
    display: flex;
    align-items: center;
    margin-right: 44.58px;
  }
  &__social-icons {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;

    img {
      padding-bottom: 16px;
    }
  }
// PRIVACY , TERMS AND CONDITION LINKS
  &__privacy {

    .footer__unord-list {
      display: flex;
      list-style: none;
      justify-content: center;
      margin: 0;
      @include opacityLinks(); // CHANGES OPACITY OF LINKS ON HOVER

      .footer__privacy-list-item {
        padding: 0 1rem;
        border-right: 1px solid white;
        
        .footer__privacy-link {
          text-decoration: none;
          color: white;
          font: lighter 14px/24px "RVMontserrat", sans-serif;
          letter-spacing: 1px;

          @include slidingUnderline();
        }
      }
      .footer__privacy-list-item--border {
        border: none;
      }
    }
  }
}
