.top-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  padding: 24px 20px;
  width: 100%;

  &__unord-list {
    list-style: none;
    margin-left: auto;
  }

  &__list-item {
    display: inline;
    padding-right: 2rem;
  }
  &__list-link {
    text-decoration: none;
    color: white;
    font: lighter 12.8px "RVMontserrat", sans-serif;
    &:hover {
      border-bottom: 2px solid white;
      padding-bottom: 5px;
      transition: ease-out 100ms;
    }
  }
}

.hero {
  background-image: url(../img/heroImage.png);
  height: 419px;

  .hero__blue {
    background: linear-gradient(
      135deg,
      rgba(63, 81, 181, 0.9),
      rgba(40, 53, 147, 0.9)
    );
    height: 419px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero__heading-one {
      margin-bottom: 24px;
      color: #fdd835;
      font: lighter 1rem "RVMontserrat", sans-serif;
    }
    .hero__heading-two {
      color: white;
      font: bold 3rem "RVMontserrat", sans-serif;
      margin: 0;
    }

    .hero__para-one {
      margin-top: 33px;
      color: white;
      font: lighter 1rem "Source Serif Pro";
    }
  }
}
.mid-nav-container {
  margin: 42px 135px 40px 158px;
  display: flex;

  &__nav {
    height: 48px;
    width: 100%;
    display: flex;

    .mid-nav-container__unord-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .middle-nav-container__button {
      background-color: #536dfe;
      color: white;
      width: 150px;
      height: 48px;
      margin-left: 101px;
    }

    .mid-nav-container__link {
      text-decoration: none;
      color: #424242;
      font: 13px "RVMontserrat", sans-serif;
      letter-spacing: 0.75px;
    }
  }
}
