.row-two {
  display: flex;
  margin: 30px 135px 30px 135px;
  justify-content: space-between;
  flex-wrap: wrap;

  &__column {
    width: 370px;
    height: 549px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__column-top {
    padding: 30px 30px 0 30px;
    // margin-bottom: auto;
  }
  &__img-container {
    padding-bottom: 30px;
  }

  &__heading-three {
    font: 26px "RVMontserrat", sans-serif;
    color: #424242;
    margin: 0px 0 10px 0;
  }
  &__para-desc {
    font: 14px/19px "Source Serif Pro";
    width: 318px;
    color: #000;
    margin: 0;
  }
  &__column-footer {
    margin-top: auto;
    display: flex;
    padding: 20px 30px;
    border-top: 1px solid rgba(238, 238, 238, 100%);
  }
  &__name-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
  }
  &__para-name {
    color: #424242;
    margin: 0;
    padding: 5px 0 0;
    height: 24px;
    font: bold 12px/24px "RVMontserrat", sans-serif;
    letter-spacing: 0.86px;
  }
  &__para-date {
    color: #757575;
    margin: 0;
    padding: 0 0 5px;
    font:  12px/24px "RVMontserrat", sans-serif;
    letter-spacing: 0.86px;
    height: 24px;

  }
}
