.row {
  height: 500px;
  padding: 30px 42px 29px 30px;
  margin: 0 135px;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.15);
  display: flex;

  .row__inner-right-div {
    display: flex;
    flex-direction: column;
    margin: 30px 42px 30px 49px;
    height: 410px;

    .row__heading-two {
      margin: 15px 0 25px;
      .row_link {
        &--primary {
          font: 42px/50px "RVMontserrat", sans-serif;
          text-decoration: none;
          color: #424242;
        }
      }
    }
    .row__para {
      margin: 0;
      font: 18px/30px "Source Serif Pro";
      color: rgba(0, 0, 0, 0.8);
      width: 608px;
    }

    .row__card-footer {
      margin-top: auto;
      display: flex;

      &-name-date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;

        .row__card-footer-para-name {
          color: #424242;
          margin: 0;
          padding: 5px 0 0;
          height: 24px;
          font: bold 12px/24px "RVMontserrat", sans-serif;
          letter-spacing: 0.86px;
        }
        .row__card-footer-para-date {
          color: #757575;
          margin: 0;
          padding: 0 0 5px;
          font:  12px/24px "RVMontserrat", sans-serif;
          letter-spacing: 0.86px;
          height: 24px;
        }
      }
    }
  }
}
