// SECTION HEADER THAT SAYS " This is section header"
.first-section-header {
  margin: 50px 335px 75px;
  &__heading-two {
    font: bold 30px "RVMontserrat", sans-serif;
    color: #424242;
    margin-bottom: 30px;
  }
  &__para-one {
    font: 21px/33px "Source Serif Pro", sans-serif;
    width: 670px;
  }
}
// SECTION HEADER THAT SAYS " This is section header and This is a section subheader"

.second-section-header {
  margin: 0 335px 30px;

  &__heading-two {
    font: bold 30px "RVMontserrat", sans-serif;
    color: #424242;
  }

  &__heading-three {
    font: lighter 21px "RVMontserrat", sans-serif;
    margin: 0 0 30px;
  }
  &__para-one {
    font: 21px/33px "Source Serif Pro", sans-serif;
    width: 670px;
    margin: 0;
  }

  &__figure {
    margin: 60px 0 60px;
    width: 670px;
  }
  &__boxes-image {
    margin-bottom: 9.33px;
  }
  &__caption {
    font: 12px tahoma, sans-serif;
    text-align: center;
  }
}
// SEPARATED SECOND SECTION HEADER  --- TO DEEP
.second-section-header {
  //.second-section-header__bottom-div {

  &__para-two {
    margin-bottom: 40px;
    font: 21px/33px "Source Serif Pro", sans-serif;
  }
  &__blue-text {
    color: #3949ab;
  }
  &__para-three {
    margin: 0 0 40px 20px;
    font: italic 28px/40px "Source Serif Pro", sans-serif;
    color: #757575;
  }
  &__para-four {
    margin-bottom: 30px;
    font: 21px/33px "Source Serif Pro", sans-serif;
  }

  &__unord-list {
    margin-bottom: 30px;
    .second-section-header__list-item {
      font: 21px/40px "Source Serif Pro", sans-serif;
    }
  }
  &__para-five {
    font: 21px/33px "Source Serif Pro", sans-serif;
  }

  &__bottom-quote-wrapper {
    border-top: 3px solid rgba(238, 238, 238, 100%);
    padding-top: 30px;
    width: 669px;
    margin: 60px 0;
    span {
      font: bold italic 18px/30px Georgia, sans-serif;
      color: #3949ab;
    }
  
    .second-section-header__para-six {
      font: lighter italic 18px/30px "RVMontserrat", sans-serif;
    }
  }
  
}