@import "mixins";
@import "normalize";
@import "nav-Hero";
@import "rowONE.scss";
@import "rowTWO.scss";
@import "button-footer";
@import "head-wrapper";
@import "content-table";
@import "section-headers";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}
.nav-background {
  background: linear-gradient(135deg, #3f51b5, #283593);
}
.button {
  border: 1px solid #3949ab;
  border-radius: 12.5px;
  font: 12px Helvetica, sans-serif;
  color: #3949ab;
  padding: 5px 20px;
  width: 92px;
  margin-bottom: 15px;
  
  &--full-width {
    width: 142px;
  }
  &:hover {
    background: #3949ab;
    color: white;
  }
}

.h-uppercase {
  text-transform: uppercase;
}

.drop-main {
  padding-top: 90px;
}
.top-nav__second-page {
  background: linear-gradient(135deg, #3f51b5, #283593);
}

.row-two {
  &__heading-four-title {
    width: 100%;
    padding-bottom: 30px;
    margin: 0;
    font: bolder 24px/32px "RVMontserrat", sans-serif;
    color: #424242;
  }
}
