@import "normalize";
@import "nav-Hero";
@import "rowONE.scss";
@import "rowTWO.scss";
@import "button-footer";
/************************************************************************************************************************************************************
CUSTOM CSS BEGINS     CUSTOM CSS BEGINS     CUSTOM CSS BEGINS     CUSTOM CSS BEGINS     CUSTOM CSS BEGINS     CUSTOM CSS BEGINS     CUSTOM CSS BEGINS
*************************************************************************************************************************************************************/

// add new line after each class

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: white;
}
.stickyNav {
  background: linear-gradient(135deg, #3f51b5, #283593);
}
.button {
  border: 1px solid #3949ab;
  border-radius: 12.5px;
  font: 12px Helvetica, sans-serif;
  color: #3949ab;
  padding: 2px 15px;
  width: 92px;
  margin-bottom: 15px;
  &--full-width {
    width: 142px;
  }
}

.h-uppercase {
  text-transform: uppercase;
}

.drop-main {
  padding-top: 90px;
}
.top-nav__second-page {
  background: linear-gradient(135deg, #3f51b5, #283593);
}
// TOPP

.head-wrapper {
  margin: 60px 236px 50px;

  &__unord-list {
    display: flex;
    list-style: none;
    margin: 0 102px;
    padding: 0;
  }
  &__list-item {
    font: bold 12px "RVMontserrat", sans-serif;
    margin-right: 10px;

    .head-wrapper__list-link {
      text-decoration: none;
      color: #303f9f;
      font: bold 12px "RVMontserrat", sans-serif;
    }

    span {
      padding-left: 10px;
    }
  }

  &__section {
    margin: 0 102px;

    .head-wrapper__heading-one {
      font: bold 42px "RVMontserrat", sans-serif;
      margin: 18px 0 20px;
      color: #424242;
    }
    .head-wrapper__section-footer {
      display: flex;
      align-items: center;

      .head-wrapper__name-date {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        .head-wrapper__para-name {
          color: #424242;
          margin: 0;
          padding: 5px 0 0;
          height: 24px;
          font: bold 12px/24px "RVMontserrat", sans-serif;
          letter-spacing: 0.86px;
        }
        .head-wrapper__para-date {
          color: #757575;
          margin: 0;
          padding: 0 0 5px;
          font: 12px/24px "RVMontserrat", sans-serif;
          letter-spacing: 0.86px;
          height: 24px;
        }
      }
    }
  }
  .head-wrapper__huge-image {
    margin: 50px 0 0 0;
  }
}

.table-content-wrapper {
  margin: 50px 236px 0px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid rgba(238, 238, 238, 100%);
  padding-bottom: 50px;

  &__heading-two {
    width: 100%;
    margin: 0 0 30px 0;
    font: bold 30px "RVMontserrat", sans-serif;
    color: #424242;
  }

  &__column {
    margin-right: 4rem;
  }

  &__unord-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__list-item {
    font: 1rem/24px "Source Serif Pro", sans-serif;
    color: #3949ab;
    padding-bottom: 1rem;
  }
}
.first-section-header {
  margin: 50px 335px 75px;
  &__heading-two {
    font: bold 30px "RVMontserrat", sans-serif;
    color: #424242;
    margin-bottom: 30px;
  }
  &__para-one {
    font: 21px/33px "Source Serif Pro", sans-serif;
    width: 670px;
  }
}

.table-wrapper {
  margin: 0 335px 50px;

  &__heading-two {
    font: bold 30px "RVMontserrat", sans-serif;
    color: #424242;
    margin-bottom: 30px;
  }

  &__table {
    width: 670px;
    &-row {
      border: 1px solid black;
    }
    &-head {
      height: 50px;
      background-color: #f5f5f5;
    }
    &-data {
      border: 1px solid black;
      text-align: center;
      height: 50px;
      font-size: 1rem;
    }
  }
}

.second-section-header {
  margin: 0 335px 30px;

  &__heading-two {
    font: bold 30px "RVMontserrat", sans-serif;
    color: #424242;
  }

  &__heading-three {
    font: lighter 21px "RVMontserrat", sans-serif;
    margin: 0 0 30px;
  }
  &__para-one {
    font: 21px/33px "Source Serif Pro", sans-serif;
    width: 670px;
    margin: 0;
  }

  &__figure {
    margin: 60px 0 60px;
    width: 670px;
  }
  &__boxes-image {
    margin-bottom: 9.33px;
  }
  &__caption {
    font: 12px tahoma, sans-serif;
    text-align: center;
  }
}
.second-section-header {
  //.second-section-header__bottom-div {

  &__para-two {
    margin-bottom: 40px;
    font: 21px/33px "Source Serif Pro", sans-serif;
  }
  &__blue-text {
    color: #3949ab;
  }
  &__para-three {
    margin: 0 0 40px 20px;
    font: italic 28px/40px "Source Serif Pro", sans-serif;
    color: #757575;
  }
  &__para-four {
    margin-bottom: 30px;
    font: 21px/33px "Source Serif Pro", sans-serif;
  }

  &__unord-list {
    margin-bottom: 30px;
    .second-section-header__list-item {
      font: 21px/40px "Source Serif Pro", sans-serif;
    }
  }
  &__para-five {
    font: 21px/33px "Source Serif Pro", sans-serif;
  }

  &__bottom-quote-wrapper {
    border-top: 3px solid rgba(238, 238, 238, 100%);
    padding-top: 30px;
    width: 669px;
    margin: 60px 0;
    span {
      font: bold italic 18px/30px Georgia, sans-serif;
      color: #3949ab;
    }
  
    .second-section-header__para-six {
      font: lighter italic 18px/30px "RVMontserrat", sans-serif;
    }
  }
  
}
.row-two {
  &__heading-four-title {
    width: 100%;
    padding-bottom: 30px;
    margin: 0;
    font: bolder 24px/32px "RVMontserrat", sans-serif;
    color: #424242;
  }
}
